
<h3 class="text-center">ROT1</h3>
<p>
    Двои́чный код — это способ представления данных в виде кода, в котором каждый разряд принимает одно из двух возможных значений, обычно обозначаемых цифрами 0 и 1. Разряд в этом случае называется двоичным разрядом.

    В случае обозначения цифрами «0» и «1», возможные состояния двоичного разряда наделяются качественным соотношением «1» > «0» и количественными значениями чисел «0» и «1».

    Двоичный код может быть непозиционным и позиционным. Позиционный двоичный код лежит в основе двоичной системы счисления, широко распространенной в современной цифровой технике.
    </p>

<div style="text-align:center; "><img style="width: 300px;" src="~/img/International_Morse_Code.svg.png" /></div>

<p>
    Просто число. Например, 00000001 - это число "1" записанное в двоичном виде. 00000010 - это двойка, 00000011 - это тройка и т.д.
    Можно сохранять текстовые данные. В этом случае каждое простое число из предыдущего шага по специальной таблице символов (например, ASCII) сопоставляется с буквой. Например, 01100001 = 97 = "a" (маленькая латинская буква а). 01100010 = 98 = "b" и так далее. Именно это преобразование мы производим на нашем сайте.
    Есть и более сложный вариант. Когда бинарные данные, состоящие из нулей и единиц обрабатываются специальным образом в зависимости от того, что это за файл. Примеры бинарных файлов: файл любой программы, файл архива, фотографии или mp3 трек. Кстати, файлы Microsoft Word тоже являются бинарными несмотря на то, что в них может храниться текстовая информация. Просто так их содержимое не просмотреть, и, как правило, в этом мало смысла, т.к. "видимых" и понятных человеку символов там обычно очень мало. Вместо этого стоит поискать ту программу, которая сможет работать именно с этим типом файлов.
</p>


<br />
<h6>При онлайн передаче электронных документов (почтовая рассылка, скачивание с сайта и т.д.) в файле может сбиться кодировка. В результате вместо привычных слов, предложений и абзацев вы получаете последовательность непонятных символов. Так случается из-за того, что кодирование и декодирование информации происходит некорректно, и устройства отправителя и получателя просто не понимают друг друга. Чтобы расшифровать зашифрованный текст, обратитесь к нашему онлайн декодеру.</h6>

<div>
    <h3 style="text-align: center; margin-bottom: 30px;">Cryption</h3>
</div>
<div style="display: inline-flex;">
    <div>
       
        <div class="left">
            <form>
                <textarea class="textarea_form" type="text" id="fname" name="fname" placeholder="Исходный текст"></textarea>
            </form>
        </div>

    </div>
    <div style="margin-left: 50px;">
        
        <div class="right textarea_form">Результат шифрования</div>
    </div>
</div>
<button type="submit" class="decoder_button__1Mui8 classicButton button_abtn__3dZPL" disabled="" name="">Шифровать</button>

<h3 style="text-align: center; margin-bottom: 30px;">Decryption</h3>
<div style="display: inline-flex;">
    <div>
       
        <div class="left">
            <form>
                <textarea class="textarea_form" type="text" id="fname" name="fname" placeholder="Исходный текст"></textarea>
            </form>
        </div>

    </div>
    <div style="margin-left: 50px;">
        
        <div class="right textarea_form">Результат дешифрования</div>
    </div>
</div>
<button type="submit" class="decoder_button__1Mui8 classicButton button_abtn__3dZPL" disabled="" name="" value="Шифровать"></button>


<br />
<br />
<br />