
<h1>@ViewData["Title"]</h1>
<h3 class="text-center">ROT1</h3>
<p>
    Азбука Мо́рзе, «Морзя́нка», Код Мо́рзе — способ знакового кодирования, в котором буквы алфавита, цифры, знаки препинания и другие символы представляются в виде последовательностей коротких и длинных сигналов, называемых точками и тире[1]. Предназначена для передачи по последовательным каналам связи. Уникальной особенностью азбуки Морзе является возможность кодирования и декодирования человеком без применения специальных терминальных устройств.

    Наиболее широко используется слуховой прием азбуки Морзе, который получил распространение в радиосвязи (слуховой радиотелеграф). В ВМФ код Морзе применяется в световой связи между кораблями, осуществляемой при помощи специальных сигнальных прожекторов. Тактильная передача кода Морзе встречается редко, в частности, она есть в некоторых моделях смарт-часов[2].

    В стандартном коде Морзе за единицу времени принимается длительность самого короткого сигнала — точки. Длительность тире равна трём точкам. Пауза между элементами одного знака — одна точка, между знаками в слове — 3 точки, между словами — 7 точек[3]. Код может передаваться с любой доступной скоростью, причем возможность декодирования сохраняется и при значительных неточностях в соблюдении временных интервалов.

    Назван в честь американского изобретателя и художника Сэмюэля Морзе. Буквенные коды (собственно «азбука») были добавлены коллегой Морзе, Альфредом Вейлем — факт, который Морзе впоследствии всячески отрицал (а заодно приписывал себе изобретение телеграфа как такового). Вейлемом же, возможно, была придумана и цифровая часть кода. А в 1848 году код Вейля/Морзе был усовершенствован немцем Фридрихом Герке (англ.). Код, усовершенствованный Герке, используется до настоящего времени.
    </p>

<div style="text-align:center; "><img style="width: 300px;" src="~/img/International_Morse_Code.svg.png" /></div>

<p> За единицу времени принимается длительность одной точки. Длительность тире равна трём точкам. Пауза между знаками в букве — одна точка, между буквами в слове — 3 точки, между словами — 7 точек.</p>


<br />
<h6>При онлайн передаче электронных документов (почтовая рассылка, скачивание с сайта и т.д.) в файле может сбиться кодировка. В результате вместо привычных слов, предложений и абзацев вы получаете последовательность непонятных символов. Так случается из-за того, что кодирование и декодирование информации происходит некорректно, и устройства отправителя и получателя просто не понимают друг друга. Чтобы расшифровать зашифрованный текст, обратитесь к нашему онлайн декодеру.</h6>

<div>
    <h3 style="text-align: center; margin-bottom: 30px;">Cryption</h3>
</div>
<div style="display: inline-flex;">
    <div>
        
        <div class="left">
            <form>
                <textarea class="textarea_form" type="text" id="fname" name="fname" placeholder="Исходный текст"></textarea>
            </form>
        </div>

    </div>
    <div style="margin-left: 50px;">
        
        <div class="right textarea_form">Результат шифрования</div>
    </div>
</div>
<button type="submit" class="decoder_button__1Mui8 classicButton button_abtn__3dZPL" disabled="" name="">Шифровать</button>

<h3 style="text-align: center; margin-bottom: 30px;">Decryption</h3>
<div style="display: inline-flex;">
    <div>
        
        <div class="left">
            <form>
                <textarea class="textarea_form" type="text" id="fname" name="fname" placeholder="Исходный текст"></textarea>
            </form>
        </div>

    </div>
    <div style="margin-left: 50px;">
        
        
        <div class="right textarea_form">Результат дешифрования</div>
    </div>
</div>
<button type="submit" class="decoder_button__1Mui8 classicButton button_abtn__3dZPL" disabled="" name="" value="Шифровать"></button>


<br />
<br />
<br />