
<br />
<h6>При онлайн передаче электронных документов (почтовая рассылка, скачивание с сайта и т.д.) в файле может сбиться кодировка. В результате вместо привычных слов, предложений и абзацев вы получаете последовательность непонятных символов. Так случается из-за того, что кодирование и декодирование информации происходит некорректно, и устройства отправителя и получателя просто не понимают друг друга. Чтобы расшифровать зашифрованный текст, обратитесь к нашему онлайн декодеру.</h6>

<div>
    <h3 style="text-align: center; margin-bottom: 30px;">Cryption</h3>
</div>
<div style="display: inline-flex;">
    <div>
       
        <div class="left">
            <form>
                <textarea class="textarea_form" type="text" id="fname" name="fname" placeholder="Исходный текст"></textarea>
            </form>
        </div>

    </div>
    <div style="margin-left: 50px;">
        
        <div class="right textarea_form">Результат шифрования</div>
    </div>
</div>
<button type="submit" class="decoder_button__1Mui8 classicButton button_abtn__3dZPL" disabled="" name="">Шифровать</button>

<h3 style="text-align: center; margin-bottom: 30px;">Decryption</h3>
<div style="display: inline-flex;">
    <div>
        <select style="width: 28%; margin-left: 435px; margin-bottom: 20px;" class="select-wrapper" name="select" id="">
            <option selected disabled>ROT1</option>
        </select>
        <div class="left">
            <form>
                <textarea class="textarea_form" type="text" id="fname" name="fname" placeholder="Исходный текст"></textarea>
            </form>
        </div>

    </div>
    <div style="margin-left: 50px;">
        <select style="width: 28%; margin-bottom: 20px;" class="select-wrapper" name="select" id="">
            <option selected disabled>UTF-8</option>
        </select>
        <div class="right textarea_form">Результат дешифрования</div>
    </div>
</div>
<button type="submit" class="decoder_button__1Mui8 classicButton button_abtn__3dZPL" disabled="" name="" value="Шифровать"></button>


<br />
<br />
<br />